<div th:fragment="body1">
  <div class="container">
      <div class="jumbotron">
        <h1>Ênfase em mudar o mundo</h1>
        <br></br>
        <h2> Ideias inovadoras e versátilidade de trabalho </h2>
        <p>
          <br>
          Amor ao software e metodologias de trabalho efetivas resultam em software de qualidade.
          </br>
        </p>
        <h3>Sede de mudança e amor são nossos pré-requisitos.</h3>
        <p><a class="btn btn-primary btn-lg" href="#contato" role="button">Vamos conversar?</a></p>
      </div>
  </div>
</div>
