<div th:fragment="header">
  <header class="header">
    <div class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">
              <img alt="Dackle" src=""/>
            </a>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#home">Home</a></li>
            <li><a href="#time"> Time </a></li>
            <li><a href="#contato"> Contato </a></li>
          </ul>
      </div>
    </div>
  </header>
</div>
